.header{
    height: 5rem;
    display: flex;
    background-color: rgba(3, 79, 231, 0.671);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(176, 176, 176, 0.2);
    border-bottom: 1px solid black;
    padding: 0 5%;
  }
  
  .header h2 {
    font-weight: 500;
    font-size: 2rem;
    margin: 0 1.2rem;
    padding: 8px 12px;
    color: antiquewhite;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: baseline;
  }
  
  .header li {
    padding: 8px;
    margin: 0 1rem;
  }
  
  .header button {
    text-decoration: none;
    font: inherit;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    margin: 0 0.75rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 100ms;
  }

  .header button:hover{
    background-color: rgb(171, 204, 245);
   color: rgb(65, 37, 92);
   box-shadow: 2px 2px 3px black;
   cursor: pointer;
 }
  
  .header a:hover,
  .header a.active {
    padding-bottom: 0.25rem;
    background-color: rgb(160, 204, 255);
  }