.main-form {
  width: 600px;
  margin: auto;
  margin-top: 170px;
  box-sizing: border-box;
}

.form {
  border: 2px solid black;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.form .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.form input {
  display: block;
  box-sizing: border-box;
  padding: 10px 0 10px 5px;
  margin: 15px 0 15px 0;
  width: 100%;
}

.button button{
  text-align: center;
  width: 60%;
  padding: 8px 0 8px 0;
  border-radius: 25px;
  font-size: 18px;
}

.button button:hover{
  background: rgb(123, 249, 213);
}

.hasAccount {
  margin: auto;
  margin-top: 50px;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 2px solid purple;
  width: fit-content;
} 